[submodule "semantic_inference_python/src/semantic_inference_python/models/deepseek"]
	path = semantic_inference_python/src/semantic_inference_python/models/deepseek
	url = https://github.com/ihmcrobotics/DeepSeek-VL2.git
	branch = main
